pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
xgboost==2.0.3
geoparse==2.2.4
jupyter==1.0.0
ipykernel==6.29.4
matplotlib==3.10.1
seaborn==0.13.2
scikit-learn==1.4.2